html,body{
    height: 100%;  
    background-color: black;
    color: white; 
}

#root{
    height: 100%;
}

.container{
    
}

.center-aligned-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  color: white;
  
}

.tab-buttons .react-tabs__tab {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  list-style: none;
  margin: 0 10px;
  background: none;
  border: none;
  transition: border-bottom 0.3s ease-in-out, color 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.tab-buttons .react-tabs__tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ccc; 
    transition: width 0.2s ease-in-out;
}

.tab-buttons .react-tabs__tab--selected {
  background-color: black;
  border-bottom: 5px solid white;
  color: white;
  border-radius: 5px;
}

.add-panel{
    padding-top: 20px
}

.main-div{
    height: 500px;
    width: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchVin{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 400px;
  color: white;
}

.searchBtn{
  margin-left: 20px;
  width: 100px;
  border-radius: 20px;
  height: 40px;

}

.scrollable{
  display: flex;
  justify-content: center;
  width: 90%;
  overflow-y: scroll;
}
