.parent{
    width: 900px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 50%;
}
.right{
    width: 50%;
}

.scrollable{
    overflow-y: auto;
}